@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('background-image.jpg') no-repeat top / cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha todo o conteúdo verticalmente no centro */
    justify-content: flex-start; /* Alinha o conteúdo no topo */
}

header {
    color: #fff;
    padding: 2px;
    text-align: center;
  
}

header img {
    max-width: 70%;
    height: 12rem;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    box-shadow: 5px 5px 2px rgba(210, 29, 158, 0.5);
}

#content {
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os elementos verticalmente no centro */
    justify-content: flex-start; /* Alinha os elementos no topo */  
    padding:  20px;
    height: 100vh;

}

#instruction-container {
    margin-top: 0.5rem; /* Espaço entre o cabeçalho e o container de instruções */
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    font-style: normal;
    background-color: rgba(126, 81, 87, .5);
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 5px 5px 2px rgba(210, 29, 158, 0.5);
    text-align: center;
    padding: 15px; /* Espaçamento interno */
}

#instruction-container p{
    padding: 10px; 
    text-align: center;
}

#time p{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem; 
    font-style: italic;
    color: #f6f5f5;
    text-shadow: 3px 2px 2px #d1ace6;
}
  
.progress-bar {
    width: 300px;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
   
    overflow: hidden;
  }
  .progress-bar-fill{
    height: 100%;
    background: linear-gradient(to right, #ffcccc, #ff0000);
  }
#time-finish{
    position: relative; /* Para posicionar a imagem dentro deste container */
    width: 100%;
    height: 5rem;
}
 #time-finish img{
    width: 20%;
    left: 9rem;
    border-radius: 15px;
    position: absolute;
 }
#question-container {
    background-color:#bbafc1 ;
    padding: 20px;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
    max-height: 70%;
   
    
}

#question {
    font-size: 1.2em;
    
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
      
}

#options {
   
    list-style-type: none;
    padding: 0;
}
#total-questions-container{
    text-align: center;
    font-size: 10px;
    color:  #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;

}
#image-container{
    width: 100%;
   
    
}
#artist-image{
   width:100%;
    height: 19rem;


    border: 5px solid #c8b5d2;
    box-shadow: 4px 2px 2px #343036;
   
}
#feedback{
    text-align: center;
    font-size: 1.2em;
    color:  #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.option{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.option:hover {
    background-color: #b9a1d0;
}

#feedback-container {
    text-align: center;
    margin-bottom: 20px;
}

#next-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #b98dcf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 2px 5px 2px rgba(210, 29, 158, 0.5);
}
#next-btn:disabled {
    background-color: #7f7f7f; /* Cor de fundo cinza */
    color: #ccc; /* Cor do texto cinza claro */
    cursor: not-allowed; /* Cursor de não permitido */
    box-shadow: none; /* Remover sombra quando desabilitado */
}
#score-container {
    text-align: center;
    font-size: 1.2em;
    color:  #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;

    
      
}

#start-quiz button {
    padding: 10px 20px;
    margin-top: 1.2rem;
    background-color: #0c0110;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
   
}
.hidden{
    display: none;
}

@keyframes flash{
    0% {opacity: 1;}
    50% {opacity: 0.6;}
    100%{opacity: 1;}
}
@keyframes shake {
    from {
        transform: rotate(0deg) translate(-2px, -2px); /* Initial position of the image */
    }
    to {
        transform: rotate(0deg) translate(2px, 2px); /* Final position of the image */
    }
}
.flashing{
    animation: flash 2s 1s linear infinite;
}
.spinning {
    animation: spin 3s linear ; /* Nome da animação, duração, modo de timing e repetição infinita */
    transform-style: preserve-3d;
 } /* Mantém a perspectiva 3D */
.shaking{
    animation: shake 0.05s infinite alternate;
}

@keyframes spin {
    from {
        transform: rotateY(0deg); /* Rotação inicial */
    }
    to {
        transform: rotateY(360deg); /* Rotação completa */
    }
}